body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    font-size: 60px;
}

main {
    display: flex;
}

aside {
    width: 500px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section {
    font-size: 30px;
    text-align: center;
}

.game-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    /* padding: 30px; */
    width: 600px;
    height: 600px;
    margin: 50px;

}

#notification {
    margin-top: 50px;
}

.box {
    background-color: white;
    /* border: 10px solid rgba(0, 0, 0, 0.8); */
    /* padding: 25px 0 0 0; */
    font-size: 150px;
    text-align: center;
    width: 194px;
    height: 194px;
    /* line-height: 100px;  */
  }

.left {
    margin: 0 10px 10px 0;
}

.right {
    margin: 0 0 10px 10px;
}

.center {
    margin: 0 0 10px 0;
}

.bottom {
    margin-bottom: 0;
}

.previous-results {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.result {   /*JS creation*/
    font-size: 30px;
}

.x {
      /* background-color: red; */
}

.o {
      /* background-color: green; */
}
