body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Heebo', sans-serif;
}

header {
    text-align: center;
    font-size: 60px;
}

main {
    display: flex;
}

h2 {
    padding-left: 40px;
    background-color: rgb(133, 186, 211);
}

aside {
    width: 500px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;

}

section {
    font-size: 30px;
    text-align: center;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.game-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    /* padding: 30px; */
    width: 600px;
    height: 600px;
    margin: 50px;

}


.box {
    background-color: white;
    /* border: 10px solid rgba(0, 0, 0, 0.8); */
    /* padding: 25px 0 0 0; */
    font-size: 150px;
    text-align: center;
    width: 194px;
    height: 194px;
    /* line-height: 100px;  */
  }

.left {
    margin: 0 10px 10px 0;
}

.right {
    margin: 0 0 10px 10px;
}

.center {
    margin: 0 0 10px 0;
}

.bottom {
    margin-bottom: 0;
}

/* .previous-results {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
} */

.result {   /*JS creation*/
    font-size: 20px;
}

.x {
      /* background-color: red; */
}

.o {
      /* background-color: green; */
}

#notification {
    margin-top: 10px;
    font-size: 40px;
}

#new-game {
    width: 100px;
}

#p1-char {
    text-transform: uppercase;
}
